<div class="row">
    <div class="thumbnail col-md-3 col-sm-5 col-xs-12">
        <img class="img-rounded" src="../images/dieulefit/kirche.jpg" alt="" />
        <div class="caption">
            <em class="text-center">Lou tems passo, passo lou ben</em>
        </div>
    </div>
    <div class="thumbnail col-md-3 col-sm-5 col-sm-offset-2 col-xs-12 col-md-push-4">
        <img class="img-rounded" src="../images/dieulefit/dieulefit.jpg" alt="" />
    </div>
    <div class="well col-md-4 col-sm-12 col-xs-12 col-md-pull-4">
        <p>
            {{translate("text1")}}
        </p>
        <br />
        <a href="http://www.dieulefit-tourisme.com" target="_blank">Dieulefit-Tourisme.com</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="thumbnail col-md-3 col-sm-5 col-xs-12">
        <img class="img-rounded" src="../images/dieulefit/OT.JPG" alt="" />
    </div>
    <div class="thumbnail col-md-3 col-sm-5 col-sm-offset-2 col-xs-12 col-md-push-4">
        <img class="img-rounded" src="../images/dieulefit/temple.JPG" alt="" />
    </div>
    <div class="well col-md-4 col-sm-12 col-xs-12 col-md-pull-4">
        <span>
            {{translate("text2")}}
        </span>
    </div>
</div>
<hr />
<div class="row">
    <div class="thumbnail col-md-3 col-sm-5 col-xs-12">
        <img class="img-rounded" src="../images/dieulefit/jabron.JPG" alt="" />
    </div>
    <div class="thumbnail col-md-3 col-sm-5 col-sm-offset-2 col-xs-12 col-md-push-4">
        <img class="img-rounded" src="../images/dieulefit/jabron2.jpg" alt="" />
    </div>
    <div class="well col-md-4 col-sm-12 col-xs-12 col-md-pull-4">
        <span>{{translate("text3")}}</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="thumbnail col-md-3 col-sm-5 col-xs-12">
        <img class="img-rounded" src="../images/dieulefit/markt1.JPG" alt="" />
    </div>
    <div class="thumbnail col-md-3 col-sm-5 col-sm-offset-2 col-xs-12 col-md-push-4">
        <img class="img-rounded" src="../images/dieulefit/markt2.JPG" alt="" />
    </div>
    <div class="well col-md-4 col-sm-12 col-xs-12 col-md-pull-4">
        <span>{{translate("text4")}}</span>
    </div>
</div>