<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">&lsaquo;</a>
    <a class="next">&rsaquo;</a>
    <a class="close">&times;</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links"class="text-center highlight">
    <a href="../images/galerie/einfahrt.JPG" title="{{translate('einfahrt')}}" data-gallery>
        <img src="../images/thumbnails/einfahrt.JPG" alt="">
    </a>
    <a href="../images/galerie/5.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/5.jpg" alt="">
    </a>
    <a href="../images/galerie/6.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/6.jpg" alt="">
    </a>
    <a href="../images/galerie/liegen.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/liegen.JPG" alt="">
    </a>
    <a href="../images/galerie/1.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/1.jpg" alt="">
    </a>
    <a href="../images/galerie/pavillion.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/pavillion.jpg" alt="">
    </a>
    <a href="../images/galerie/pool.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/pool.JPG" alt="">
    </a>
    <a href="../images/galerie/pavillion2.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/pavillion2.JPG" alt="">
    </a>
    <a href="../images/galerie/morgensonne.JPG" title="{{translate('morgensonne')}}" data-gallery>
        <img src="../images/thumbnails/morgensonne.JPG" alt="">
    </a>
    <a href="../images/galerie/bbq.JPG" title="{{translate('bbq')}}" data-gallery>
        <img src="../images/thumbnails/bbq.JPG" alt="">
    </a>
    <a href="../images/galerie/wohnzimmer.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/wohnzimmer.JPG" alt="">
    </a>
    <a href="../images/galerie/kochecke.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/kochecke.JPG" alt="">
    </a>
    <a href="../images/galerie/f5.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/f5.JPG" alt="">
    </a>
    <a href="../images/galerie/dieulefit.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/dieulefit.jpg" alt="">
    </a>
    <a href="../images/galerie/OT.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/OT.JPG" alt="">
    </a>
    <a href="../images/galerie/kirche.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/kirche.jpg" alt="">
    </a>
    <a href="../images/galerie/Jabron2.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/Jabron2.jpg" alt="">
    </a>
    <a href="../images/galerie/jabron.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/jabron.JPG" alt="">
    </a>
    <a href="../images/galerie/temple.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/temple.JPG" alt="">
    </a>
    <a href="../images/galerie/markt1.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt1.JPG" alt="">
    </a>
    <a href="../images/galerie/markt2.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt2.JPG" alt="">
    </a>
    <a href="../images/galerie/markt3.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt3.JPG" alt="">
    </a>
    <a href="../images/galerie/markt4.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt4.JPG" alt="">
    </a>
    <a href="../images/galerie/markt5.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt5.JPG" alt="">
    </a>
    <a href="../images/galerie/markt6.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt6.JPG" alt="">
    </a>
    <a href="../images/galerie/markt7.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt7.jpg" alt="">
    </a>
    <a href="../images/galerie/markt8.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/markt8.jpg" alt="">
    </a>
    <a href="../images/galerie/7.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/7.jpg" alt="">
    </a>
    <a href="../images/galerie/kultur.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/kultur.JPG" alt="">
    </a>
    <a href="../images/galerie/3.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/3.jpg" alt="">
    </a>
    <a href="../images/galerie/natur.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/natur.jpg" alt="">
    </a>
    <a href="../images/galerie/Lance.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/Lance.JPG" alt="">
    </a>
    <a href="../images/galerie/poetlaval.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/poetlaval.jpg" alt="">
    </a>
    <a href="../images/galerie/poetlaval2.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/poetlaval2.jpg" alt="">
    </a>
    <a href="../images/galerie/Schilder.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/Schilder.JPG" alt="">
    </a>
    <a href="../images/galerie/avignon.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/avignon.JPG" alt="">
    </a>
    <a href="../images/galerie/aktiv.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/aktiv.jpg" alt="">
    </a>
    <a href="../images/galerie/wandern.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/wandern.JPG" alt="">
    </a>
    <a href="../images/galerie/bruecke.JPG" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/bruecke.JPG" alt="">
    </a>
    <a href="../images/galerie/ventoux.jpg" title="{{translate('')}}" data-gallery>
        <img src="../images/thumbnails/ventoux.jpg" alt="">
    </a>
</div>
