<div class="row">
    <div class="col-md-12">
        <div class="well impressum">
            <span>Ulla Schübeler-Jannes</span><br>
            <span>F tel <em>0033 4 75464669</em></span><br>
            <span>D tel <em>0049 241 9435486</em> / <em>0049 1577 5357726</em></span><br>
            <span><a href="mailto: fromentiere@aliceadsl.fr">fromentiere@aliceadsl.fr</a></span><br>
            <br />
            <span>La Fromentière</span><br>
            <span>195, Les Hauts Hubacs</span><br>
            <span>F- 26220 Dieulefit</span><br>
        </div>
    </div>
</div>