<div class="row centered">
    <div class="col-md-8 col-sm-8">
        <div class="well">
            <h4 class="list-group-item-heading">{{translate("anreise")}}</h4>
            <br />
            <ul style="list-style: none">
                <div ng-repeat="item in anreiseTabelle">
                    <li>
                        <i class="glyphicon glyphicon-menu-right"></i> {{translate(item)}}
                    </li>
                </div>
            </ul>
        </div>
        <div class="well">
            <h4><a href="http://www.ferienwohnungen.de/cgi-bin/belegungsplan.cgi?id=10536" class="verlinkung belegung">{{translate("belegungsplan")}}</a></h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img class="img-rounded" src="../images/kontakt/Frankreich.gif" alt="" />
        </div>
    </div>
</div>

<hr class="hidden-mobile" />

<div class="row centered">
    <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img class="img-rounded" src="../images/kontakt/k2.gif" alt="" />
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="well">
            <h4 class="list-group-item-heading">{{translate("tarife")}}</h4>
            <br />
            <ul style="list-style: none">
                <div ng-repeat="item in tarifTabelle">
                    <li>
                        <i class="glyphicon glyphicon-menu-right"></i> {{translate(item)}}
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

<hr class="hidden-mobile" />

<div class="row centered">
    <div class="col-md-8 col-sm-8">
        <div class="well">
            <h4 class="list-group-item-heading">{{translate("reservierung")}}</h4>
            <br />
            <ul style="list-style: none;font-style:italic">

                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> Ulla Schübeler-Jannes
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> F tel 0033 4 75464669
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> D tel 0049 241 9435486 / 0049 1577 5357726
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> <a href="mailto: fromentiere@aliceadsl.fr">fromentiere@aliceadsl.fr</a>
                </li>
                <li style="padding-top:10px;">
                    <i class="glyphicon glyphicon-menu-right"></i> La Fromentière
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> 195, Les Hauts Hubacs
                </li>
                <li>
                    <i class="glyphicon glyphicon-menu-right"></i> F- 26220 Dieulefit
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img class="img-rounded" src="../images/kontakt/k3.gif" alt="" />
        </div>
    </div>
</div>

<hr class="hidden-mobile" />

<div class="row">
    <!--<div class="col-md-6" style="float:none;margin:0 auto;">-->
    <!-- kontaktThumbnail pagination-centered-->
    <div class="col-md-6 col-sm-6 thumbnail" style="float:none;margin:0 auto;">
        <img class="img-rounded kontaktThumbnail" src="../images/kontakt/3.jpg">
        <div class="caption text-center">
            {{translate("info1")}}
            <br />
            <div style="font-size: 9px;">
                {{translate("info2")}}
                <br />
                {{translate("info3")}}
            </div>
        </div>
    </div>
</div>
</div>