<div class="row centered">
    <div class="col-md-8 col-sm-8">
        <div class="well">
            <h4 class="list-group-item-heading">{{translate("anreise")}}</h4>
            <br />
            <ul style="list-style: none">
                <div ng-repeat="item in anreiseTabelle">
                    <li>
                        <i class="glyphicon glyphicon-menu-right"></i> {{translate(item)}}
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img class="img-rounded" src="../images/kontakt/Frankreich.gif" alt="" />
        </div>
    </div>
</div>

<hr class="hidden-mobile" />

<div class="row centered">
    <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
            <img class="img-rounded" src="../images/kontakt/k3.gif" alt="" />
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="well">
            <h4 class="list-group-item-heading">{{translate("tarife")}}</h4>
            <br />
            <p>{{translate("tarifeText")}}</p>
        </div>
    </div>
</div>

<hr class="hidden-mobile" />

<div class="row">
    <!--<div class="col-md-6" style="float:none;margin:0 auto;">-->
    <!-- kontaktThumbnail pagination-centered-->
    <div class="col-md-6 col-sm-6 thumbnail" style="float:none;margin:0 auto;">
        <img class="img-rounded kontaktThumbnail" src="../images/kontakt/3.jpg">
        <div class="caption text-center">
            {{translate("info1")}}
            <br />
            <div style="font-size: 9px;">
                {{translate("info2")}}
                <br />
                {{translate("info3")}}
            </div>
        </div>
    </div>
</div>
</div>