<div class="row bottom">
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/kirche.jpg">
            <div class="caption text-center">
                <em>Lou tems passo, passo lou ben</em>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail" style="margin-bottom:0px;">
            <img class="img-rounded" src="../images/umgebung/ventoux.jpg">
            <div class="caption text-center">
                <span>{{translate("montventoux")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/u3.gif">
            <div class="caption text-center">
                <span>{{translate("montelimar")}}</span>
            </div>
        </div>
    </div>
</div>

<hr class="invisible-mobile" />

<div class="row bottom">
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/bruecke.JPG">
            <div class="caption text-center">
                <span>{{translate("rochemaure")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/u1.gif">
            <div class="caption text-center">
                <span>{{translate("drome")}}</span>
                <br />
                <a href="http://www.drome-provence.com">drome-provence.com</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/Crest.gif">
            <div class="caption text-center">
                <span>{{translate("crest")}}</span>
            </div>
        </div>
    </div>
</div>

<hr class="invisible-mobile" />

<div class="row bottom">
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/7.jpg">
            <div class="caption text-center">
                <span>{{translate("pontdugard")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/u6.gif">
            <div class="caption text-center">
                <span>{{translate("weinbau")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/avignon.JPG">
            <div class="caption text-center">
                <span>{{translate("avignon")}}</span>
                <br />
                <a href="http://www.provenceguide.com">provenceguide.com</a>
            </div>
        </div>
    </div>
</div>

<hr class="invisible-mobile" />

<div class="row bottom">
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/u0.gif">
            <div class="caption text-center">
                <span>{{translate("colorado")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/u11.gif">
            <div class="caption text-center">
                <span>{{translate("arles")}}</span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-4">
        <div class="thumbnail umgebungThumbnail">
            <img class="img-rounded" src="../images/umgebung/Marseille.gif">
            <div class="caption text-center">
                <span>{{translate("marseille")}}</span>
            </div>
        </div>
    </div>
</div>